In [31]:
import pandas as pd
import numpy as np 
import statistics

In [32]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [33]:
pd.set_option('display.max_rows', 120)

In [34]:
pd.set_option('display.float_format', '{:.0f}'.format)

In [35]:
spainEnglishAll=pd.read_csv('https://raw.githubusercontent.com/thousandoaks/BEMM458/main/FinalAssignment/data/BEMM458FinalAssignment.csv')

In [36]:
spainEnglishAll.columns

Index(['Unnamed: 0', 'tweeet.id', 'tweet.text', 'tweet.created_at',
       'tweet.author_id', 'tweet.lang', 'public_metrics.retweet_count',
       'public_metrics.reply_count', 'public_metrics.like_count'],
      dtype='object')

In [37]:
spainEnglishAll

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ⚽️\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" — by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0
...,...,...,...,...,...,...,...,...,...
47545,47545,1461484434209783814,@only1womble @SimonJonesNews @pritipatel Someo...,2021-11-19 00:00:16+00:00,1733373504,en,0,0,0
47546,47546,1461484401712414722,RT @ancientorigins: A team of #scientists has ...,2021-11-19 00:00:09+00:00,100887413,en,18,0,0
47547,47547,1461484391255977994,On #Friday Amazing time in #SabatiniGardens #M...,2021-11-19 00:00:06+00:00,995441471938580352,en,0,0,1
47548,47548,1461484374558490625,RT @THEMAXHILTON: The wait is over ! you have...,2021-11-19 00:00:02+00:00,832015137263452160,en,121,0,0
47549,47549,1461484366325035009,#Barcelona Nov 19 01:00 Temperature 10C Wind N...,2021-11-19 00:00:00+00:00,258025521,en,0,0,0

## GOAL:  to identify ongoing misinformation campaigns and profile those users contributing to the spread of misinformation.

## Twitter conversations have large levels of amplification

## Considering the number of retweets, likes, etc as proxies to measure the spread of information on social media

In [38]:
spainEnglishAll.head()

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ⚽️\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" — by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0

In [39]:
spainEnglishAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47550 entries, 0 to 47549
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    47550 non-null  int64
 1   tweeet.id                     47550 non-null  object
 2   tweet.text                    47550 non-null  object
 3   tweet.created_at              47537 non-null  object
 4   tweet.author_id               47537 non-null  float64
 5   tweet.lang                    47537 non-null  object
 6   public_metrics.retweet_count  47537 non-null  float64
 7   public_metrics.reply_count    47537 non-null  float64
 8   public_metrics.like_count     47524 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 3.3+ MB

In [40]:
spainEnglishAll.groupby('public_metrics.retweet_count').count()

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.reply_count,public_metrics.like_count
public_metrics.retweet_count,,,,,,,,
0,15545,15545,15545,15545,15545,15545,15545,15532
1,2854,2854,2854,2854,2854,2854,2854,2854
2,1683,1683,1683,1683,1683,1683,1683,1683
3,1302,1302,1302,1302,1302,1302,1302,1302
4,1064,1064,1064,1064,1064,1064,1064,1064
...,...,...,...,...,...,...,...,...
34537,1,1,1,1,1,1,1,1
34538,2,2,2,2,2,2,2,2
35930,1,1,1,1,1,1,1,1
43945,2,2,2,2,2,2,2,2
44845,1,1,1,1,1,1,1,1

In [41]:
spainEnglishAll.pivot_table(values= 'public_metrics.retweet_count', index= ('public_metrics.reply_count','public_metrics.like_count')).sort_values(by=['public_metrics.reply_count', 'public_metrics.retweet_count'])

                                                      public_metrics.retweet_count
public_metrics.reply_count public_metrics.like_count
0                          1                                                     0
                           2                                                     0
                           3                                                     1
                           4                                                     1
                           5                                                     1
...                                                                            ...
125                        207                                                  24
138                        12216                                               895
215                        3358                                                 93
512                        6058                                                379
740                        15423                                              1568

[645 rows x 1 columns]

In [42]:
spainEnglishAll.pivot_table(values= 'public_metrics.retweet_count', index= ('tweeet.id','public_metrics.reply_count','public_metrics.like_count')).sort_values(by=['public_metrics.reply_count', 'public_metrics.retweet_count'])

                                                                          public_metrics.retweet_count
tweeet.id           public_metrics.reply_count public_metrics.like_count
1461121980971696132 0                          0                                                     0
1461121982515212293 0                          0                                                     0
1461121992627834881 0                          0                                                     0
1461122049342988288 0                          0                                                     0
1461122075884720129 0                          0                                                     0
...                                                                                                ...
1461721107619270660 125                        207                                                  24
1461735560435752961 138                        12216                                               895
1461715384516714501 215                        3358                                                 93
1461806775594885122 512                        6058                                                379
1461450207657349131 740                        15423                                              1568

[47524 rows x 1 columns]

In [43]:
spainEnglishAll.sort_values(['public_metrics.reply_count', 'public_metrics.like_count', 'public_metrics.retweet_count'], ascending=False)

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
2434,2434,1461450207657349131,EURO 2008 top scorer: Villa ⚽️\nWorld Cup 2010...,2021-11-18 21:44:16+00:00,18091004,en,1568,740,15423
27778,27778,1461806775594885122,From Spain: Manchester United are ready to bid...,2021-11-19 21:21:09+00:00,2430359540,en,379,512,6058
34485,34485,1461715384516714501,🚨⚽️ | Fifa have released their new rankings\n\...,2021-11-19 15:17:59+00:00,1412833835776086016,en,93,215,3358
32805,32805,1461735560435752961,"""What if Lionel Messi picked Spain over Argent...",2021-11-19 16:38:09+00:00,1443958261917511680,en,895,138,12216
33984,33984,1461721107619270660,People who live in mainland Europe - how much ...,2021-11-19 15:40:44+00:00,1091026425212293248,en,24,125,207
...,...,...,...,...,...,...,...,...,...
41275,41275,1461622686191259651,Read PDF The True History of the Conquest of N...,NaN,NaN,NaN,NaN,NaN,NaN
41350,41350,1461621589745684484,Free PDF Rick Steves Spain by Rick Steves Popular,NaN,NaN,NaN,NaN,NaN,NaN
42106,42106,1461609976598708225,Download [PDF] Spanish Wine Guide (Wines of Sp...,NaN,NaN,NaN,NaN,NaN,NaN
44420,44420,1461566466113765376,PDF Link Spain: A History by Melveena McKendri...,NaN,NaN,NaN,NaN,NaN,NaN
45141,45141,1461546732156702721,√[PDF] EBOOK Download Spain Travel Guide by Lo...,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
spainEnglishAll.pivot_table(values='public_metrics.retweet_count', index=('public_metrics.like_count','tweeet.id')).sort_values(by=['public_metrics.like_count','public_metrics.retweet_count'])

                                               public_metrics.retweet_count
public_metrics.like_count tweeet.id
0                         1461121980971696132                             0
                          1461121982515212293                             0
                          1461121992627834881                             0
                          1461122049342988288                             0
                          1461122075884720129                             0
...                                                                     ...
4240                      1461338150610083843                           861
4632                      1461679405755944968                           116
6058                      1461806775594885122                           379
12216                     1461735560435752961                           895
15423                     1461450207657349131                          1568

[47524 rows x 1 columns]

In [45]:
spainEnglishAll.pivot_table(values= 'public_metrics.retweet_count', index= ('tweeet.id','public_metrics.reply_count','public_metrics.like_count')).sort_values(by=['public_metrics.reply_count', 'public_metrics.retweet_count'])

                                                                          public_metrics.retweet_count
tweeet.id           public_metrics.reply_count public_metrics.like_count
1461121980971696132 0                          0                                                     0
1461121982515212293 0                          0                                                     0
1461121992627834881 0                          0                                                     0
1461122049342988288 0                          0                                                     0
1461122075884720129 0                          0                                                     0
...                                                                                                ...
1461721107619270660 125                        207                                                  24
1461735560435752961 138                        12216                                               895
1461715384516714501 215                        3358                                                 93
1461806775594885122 512                        6058                                                379
1461450207657349131 740                        15423                                              1568

[47524 rows x 1 columns]

In [46]:
spainEnglishAll.pivot_table(values= 'public_metrics.retweet_count', index= ('tweeet.id','public_metrics.reply_count','public_metrics.like_count')).sort_values(by=['public_metrics.retweet_count','public_metrics.like_count'])

                                                                          public_metrics.retweet_count
tweeet.id           public_metrics.reply_count public_metrics.like_count
1461121980971696132 0                          0                                                     0
1461121982515212293 0                          0                                                     0
1461121992627834881 0                          0                                                     0
1461122049342988288 0                          0                                                     0
1461122075884720129 0                          0                                                     0
...                                                                                                ...
1461613145219239944 0                          0                                                 34538
1461649200882405377 0                          0                                                 35930
1461157780664901633 0                          0                                                 43945
1461371211343020033 0                          0                                                 43945
1461162679809155076 0                          0                                                 44845

[47524 rows x 1 columns]

## Analysis of highly amplified conversations

## given a tweet.id it is possible to have a detailed look at twitter by appending this id to the url: https://twitter.com/anyuser/status/
For instance given the tweet.id: 1461577564850319362 you can inspect its content by having a look at: https://twitter.com/anyuser/status/1461577564850319362

In [47]:
##1461450207657349131

In [48]:
##1461806775594885122

In [49]:
##1461715384516714501 https://twitter.com/FootballlForAll/status/1461715384516714501

In [50]:
##1461735560435752961 https://twitter.com/loal_worldwide/status/1461735560435752961

In [51]:
##1461721107619270660 https://twitter.com/QuislingT/status/1461721107619270660

In [52]:
## These seem to be the highly amplified conversations

## Computation of the z-score of the column "public_metrics.retweet_count:
## z-score formula: https://www.statisticshowto.com/probability-and-statistics/z-score/

In [61]:
## mean computation
retweet_mean= spainEnglishAll["public_metrics.retweet_count"].mean()

In [62]:
print(retweet_mean)

233.72148011022992

In [55]:
retweet_stdev= spainEnglishAll["public_metrics.retweet_count"].std()

In [56]:
print(retweet_stdev)

959.4952629778896

In [123]:
spainEnglishAll

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ⚽️\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" — by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0
...,...,...,...,...,...,...,...,...,...
47545,47545,1461484434209783814,@only1womble @SimonJonesNews @pritipatel Someo...,2021-11-19 00:00:16+00:00,1733373504,en,0,0,0
47546,47546,1461484401712414722,RT @ancientorigins: A team of #scientists has ...,2021-11-19 00:00:09+00:00,100887413,en,18,0,0
47547,47547,1461484391255977994,On #Friday Amazing time in #SabatiniGardens #M...,2021-11-19 00:00:06+00:00,995441471938580352,en,0,0,1
47548,47548,1461484374558490625,RT @THEMAXHILTON: The wait is over ! you have...,2021-11-19 00:00:02+00:00,832015137263452160,en,121,0,0
47549,47549,1461484366325035009,#Barcelona Nov 19 01:00 Temperature 10C Wind N...,2021-11-19 00:00:00+00:00,258025521,en,0,0,0

In [130]:
spainEnglishAll['zscore']=stats.zscore(spainEnglishAll["public_metrics.retweet_count"],nan_policy='omit')
spainEnglishAll

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,zscore
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ⚽️\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0,1
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0,-0
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" — by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0,-0
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5,-0
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0,-0
...,...,...,...,...,...,...,...,...,...,...
47545,47545,1461484434209783814,@only1womble @SimonJonesNews @pritipatel Someo...,2021-11-19 00:00:16+00:00,1733373504,en,0,0,0,-0
47546,47546,1461484401712414722,RT @ancientorigins: A team of #scientists has ...,2021-11-19 00:00:09+00:00,100887413,en,18,0,0,-0
47547,47547,1461484391255977994,On #Friday Amazing time in #SabatiniGardens #M...,2021-11-19 00:00:06+00:00,995441471938580352,en,0,0,1,-0
47548,47548,1461484374558490625,RT @THEMAXHILTON: The wait is over ! you have...,2021-11-19 00:00:02+00:00,832015137263452160,en,121,0,0,-0
47549,47549,1461484366325035009,#Barcelona Nov 19 01:00 Temperature 10C Wind N...,2021-11-19 00:00:00+00:00,258025521,en,0,0,0,-0

In [ ]:
newArr = x[x > 10]
newArr

In [134]:
filter = spainEnglishAll[(spainEnglishAll['zscore'] >10)].sort_values(by='zscore', ascending=False)
filter

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,zscore
23467,23467,1461162679809155076,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-18 02:41:44+00:00,1290910527393210368,en,44845,0,0,46
23656,23656,1461157780664901633,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-18 02:22:16+00:00,1101831422631804800,en,43945,0,0,46
8820,8820,1461371211343020033,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-18 16:30:22+00:00,1168957082,en,43945,0,0,46
39357,39357,1461649200882405377,RT @NCTsmtown_127: Spain here we goooooo\n\n#N...,2021-11-19 10:55:00+00:00,1064006291087970432,en,35930,0,0,37
41908,41908,1461613145219239944,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-19 08:31:43+00:00,1388490486181076992,en,34538,0,0,36
45373,45373,1461537918900600843,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-19 03:32:48+00:00,1382234880465989632,en,34538,0,0,36
23655,23655,1461157789397438464,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-18 02:22:18+00:00,1101831422631804800,en,34537,0,0,36
45333,45333,1461539133520695297,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-19 03:37:38+00:00,1382234880465989632,en,32878,0,0,34
45374,45374,1461537902106537991,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-19 03:32:44+00:00,1382234880465989632,en,32632,0,0,34
44456,44456,1461565440879206401,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 05:22:10+00:00,1322715465198821376,en,30490,0,0,32
23465,23465,1461162702307426312,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-18 02:41:49+00:00,1290910527393210368,en,30489,0,0,32
45332,45332,1461539163207995397,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-19 03:37:45+00:00,1382234880465989632,en,30038,0,0,31
45336,45336,1461539044974731265,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:37:17+00:00,1382234880465989632,en,27322,0,0,28
45375,45375,1461537878991781892,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-19 03:32:39+00:00,1382234880465989632,en,27002,0,0,28
23658,23658,1461157760607739909,RT @NCTsmtown_127: #Johnny’s Photo Diary:Spain...,2021-11-18 02:22:11+00:00,1101831422631804800,en,27001,0,0,28
23311,23311,1461167495809617921,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 03:00:52+00:00,1290910527393210368,en,26867,0,0,28
9806,9806,1461359523298377745,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 15:43:55+00:00,1014802699680771968,en,26867,0,0,28
12779,12779,1461327131057680386,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 13:35:12+00:00,1140539982865559552,en,26867,0,0,28
45334,45334,1461539103741149186,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:37:31+00:00,1382234880465989632,en,26424,0,0,27
23461,23461,1461162923057827840,RT @NCTsmtown_127: Amazing time in SPAIN🇪🇸\nGr...,2021-11-18 02:42:42+00:00,1290910527393210368,en,25251,0,0,26
41830,41830,1461614169296306178,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 08:35:48+00:00,1388490486181076992,en,22858,0,0,24
45378,45378,1461537845516984321,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:32:31+00:00,1382234880465989632,en,22858,0,0,24
45337,45337,1461539030298886147,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:37:13+00:00,1382234880465989632,en,21900,0,0,23
45335,45335,1461539081725251585,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-19 03:37:25+00:00,1382234880465989632,en,21696,0,0,22
40063,40063,1461639063329550344,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 10:14:43+00:00,1430829012520214528,en,21457,0,0,22
2252,2252,1461451876000489474,RT @MesutOzil1088: I grew up as a @Fenerbahce ...,2021-11-18 21:50:54+00:00,1245113611263057920,en,17801,0,0,18
43940,43940,1461577564850319362,RT @LAPXURADELBUIO: what is happening in spain...,2021-11-19 06:10:20+00:00,1324927883446345728,en,16466,0,0,17
34370,34370,1461716582602657792,"RT @AfricanArchives: African moors, who conque...",2021-11-19 15:22:45+00:00,1366298396051582976,en,16115,0,0,17
6960,6960,1461393296190840837,RT @TheeAzanian: Normalize posting these poor ...,2021-11-18 17:58:07+00:00,1252041619349667840,en,13620,0,0,14
41984,41984,1461611790907809795,RT @TheeAzanian: Normalize posting these poor ...,2021-11-19 08:26:21+00:00,1412044637288779776,en,13620,0,0,14
23267,23267,1461168528757829633,RT @bubbaprog: Here is how the Nicki Minaj sto...,2021-11-18 03:04:59+00:00,1138552825,en,12637,0,0,13
18871,18871,1461252721122721793,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 08:39:32+00:00,911620587990261760,en,9909,0,0,10
6012,6012,1461405606540103682,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 18:47:02+00:00,2766567177,en,9909,0,0,10
42229,42229,1461608131411255297,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 08:11:48+00:00,906324457,en,9909,0,0,10
42346,42346,1461606317567754240,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 08:04:36+00:00,135942979,en,9909,0,0,10
5484,5484,1461412419377537025,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 19:14:07+00:00,2385072439,en,9909,0,0,10
5530,5530,1461411825971515395,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 19:11:45+00:00,984144046833721216,en,9909,0,0,10
6999,6999,1461392799459385347,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 17:56:09+00:00,591623368,en,9909,0,0,10
5403,5403,1461413368959492108,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 19:17:53+00:00,16095339,en,9909,0,0,10
5082,5082,1461415007846117376,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 19:24:24+00:00,2949011187,en,9909,0,0,10
4585,4585,1461420287510159373,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 19:45:23+00:00,1371813880343711488,en,9909,0,0,10
4527,4527,1461421081105948679,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 19:48:32+00:00,1097937228607700992,en,9909,0,0,10
3009,3009,1461442074184720387,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 21:11:57+00:00,955569674737127424,en,9909,0,0,10
41844,41844,1461613986038919171,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 08:35:04+00:00,1120563183675166848,en,9909,0,0,10
40612,40612,1461631578107482112,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 09:44:58+00:00,1215225159508021248,en,9909,0,0,10
41506,41506,1461619083162664963,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 08:55:19+00:00,1334365136660869120,en,9909,0,0,10
10855,10855,1461347421116502019,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 14:55:50+00:00,279175765,en,9909,0,0,10
18905,18905,1461252203105206277,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 08:37:28+00:00,910607855434203136,en,9909,0,0,10
18817,18817,1461253366483402754,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 08:42:06+00:00,2941373397,en,9909,0,0,10
16547,16547,1461283995266830338,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 10:43:48+00:00,62527457,en,9909,0,0,10
15874,15874,1461292250927972353,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 11:16:36+00:00,4178285177,en,9909,0,0,10
15812,15812,1461293000001208324,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 11:19:35+00:00,977304500338937984,en,9909,0,0,10
14561,14561,1461307600562266117,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 12:17:36+00:00,372569108,en,9909,0,0,10
29595,29595,1461776690099728385,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 19:21:36+00:00,1186745463485145088,en,9909,0,0,10
18896,18896,1461252366175453184,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 08:38:07+00:00,918435613698863232,en,9909,0,0,10
30531,30531,1461764692653887496,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 18:33:55+00:00,1676132136,en,9909,0,0,10
32104,32104,1461744173653139459,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 17:12:23+00:00,1248567610784067584,en,9909,0,0,10
32155,32155,1461743601382268936,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 17:10:07+00:00,1185923273772675072,en,9909,0,0,10
32963,32963,1461733446355669006,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 16:29:45+00:00,493874600,en,9909,0,0,10
10645,10645,1461349756005806089,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 15:05:07+00:00,2507221911,en,9909,0,0,10
40431,40431,1461634086292840448,RT @viquirepublica: 📌This is the real problem ...,2021-11-19 09:54:56+00:00,429415976,en,9909,0,0,10
859,859,1461469510586839047,RT @viquirepublica: 📌This is the real problem ...,2021-11-18 23:00:58+00:00,1036271517699587968,en,9909,0,0,10

In [135]:
filter.shape

(62, 10)

In [136]:
type(spainEnglishAll['zscore'])

pandas.core.series.Series

In [91]:
spainEnglishAll["public_metrics.retweet_count"]

0       1568
1         38
2         90
3          0
4         34
        ...
47545      0
47546     18
47547      0
47548    121
47549      0
Name: public_metrics.retweet_count, Length: 47550, dtype: float64

In [95]:
a=spainEnglishAll["public_metrics.retweet_count"]

In [97]:
type(a)

pandas.core.series.Series

In [98]:
a

0       1568
1         38
2         90
3          0
4         34
        ...
47545      0
47546     18
47547      0
47548    121
47549      0
Name: public_metrics.retweet_count, Length: 47550, dtype: float64

In [109]:
a = np.array(a)

In [110]:
type(a)

numpy.ndarray

In [111]:
a

array([1568.,   38.,   90., ...,    0.,  121.,    0.])

In [112]:
import scipy.stats as stats
x=stats.zscore(a)
x.shape

(47550,)

In [116]:
import scipy.stats as stats
x=stats.zscore(a,nan_policy='omit')
x

array([ 1.39061922, -0.20398594, -0.1497902 , ..., -0.24359051,
       -0.11748121, -0.24359051])

In [122]:
df = pd.DataFrame(data=x, columns=[ "column2"])
df

       column2
0            1
1           -0
2           -0
3           -0
4           -0
...        ...
47545       -0
47546       -0
47547       -0
47548       -0
47549       -0

[47550 rows x 1 columns]

In [108]:
x.shape

(47550,)

In [107]:
newArr = x[x > 10]
newArr

array([10.08382288, 18.30906725, 10.08382288, 10.08382288, 10.08382288,
       10.08382288, 10.08382288, 10.08382288, 10.08382288, 10.08382288,
       13.95152205, 10.08382288, 45.55701312, 27.75788447, 10.08382288,
       10.08382288, 27.75788447, 10.08382288, 10.08382288, 10.08382288,
       10.08382288, 10.08382288, 10.08382288, 10.08382288, 10.08382288,
       12.9270143 , 27.75788447, 26.07364791, 31.53282556, 46.49501616,
       35.75175476, 45.55701312, 27.8975427 , 10.08382288, 10.08382288,
       10.08382288, 10.08382288, 10.08382288, 16.5518749 , 37.20357501,
       22.11944402, 10.08382288, 10.08382288, 10.08382288, 23.57960207,
       10.08382288, 35.75279698, 13.95152205, 10.08382288, 10.08382288,
       16.91769609, 31.53386779, 31.06278182, 34.0227025 , 27.29617853,
       22.36853593, 28.23209711, 22.58114995, 35.75279698, 33.766315  ,
       27.89858492, 23.57960207])

In [ ]:
#Create a Dataframe with stakeholders and hastags.
hash=ConversationsLean[['stakeholder','hashtags_extracted']]
#Make a Filter just to have just NGOs
NGO_filter=hash['stakeholder']=='NGO'
hash_NGO_serie=hash[NGO_filter]
#Put a hashtag per row
NGO = pd.Series([item for sublist in hash_NGO_serie.hashtags_extracted for item in sublist])
#Convert to lowercase the hashtags
NGO = NGO.astype(str).str.lower()
#Count the frequency of avery hastag
df_NGO1 = NGO.value_counts()
df_NGO1.head(5)

In [105]:
a_filter=a>10

In [106]:
a_filter

array([ True,  True,  True, ..., False,  True, False])

In [58]:
from scipy.stats import zscore
tweets = np.array(spainEnglishAll["public_metrics.retweet_count"])
result = zscore (tweets)
print ("Z-score tweets:", result)

Z-score tweets: [nan nan nan ... nan nan nan]

In [59]:
tweets =(spainEnglishAll["public_metrics.retweet_count"])
print (tweets)

0       1568
1         38
2         90
3          0
4         34
        ...
47545      0
47546     18
47547      0
47548    121
47549      0
Name: public_metrics.retweet_count, Length: 47550, dtype: float64

In [60]:
df_zscore =(spainEnglishAll["public_metrics.retweet_count"]) - retweet_mean/retweet_stdev
print (df_zscore)
df_zscore

0       1568
1         38
2         90
3         -0
4         34
        ...
47545     -0
47546     18
47547     -0
47548    121
47549     -0
Name: public_metrics.retweet_count, Length: 47550, dtype: float64

0       1568
1         38
2         90
3         -0
4         34
        ...
47545     -0
47546     18
47547     -0
47548    121
47549     -0
Name: public_metrics.retweet_count, Length: 47550, dtype: float64

## Filtering conversations with a z-score larger than 10

## Finding the top 5 amplifiers: twitter users who are involved in highly amplified conversations

## Extracting from the text colum, information on who created the conversation in the first place